<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jfy.dao.OrderMapper">
<!--    <select id="addOrder">-->
<!--        insert into `order` (UserID,TicketID, TicketQuantity,OrderTime)-->
<!--        values (#{userId},#{ticketId},#{ticketQuantity},#{orderTime})-->
<!--    </select>-->
    <insert id="addOrder">
        insert into `order` (UserID,TicketID, TicketQuantity,OrderTime)
        values (#{userId},#{ticketId},#{ticketQuantity},#{orderTime})
    </insert>


    <delete id="delById">
        delete from `order` where OrderID=#{orderId}
    </delete>
</mapper>