<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--全局配置-->
<configuration>
    <!--    导入-->
    <properties resource="db.properties"/>

    <!--    取别名-->
        <typeAliases>
            <package name="com.jfy.domain.User"/>
            <package name="com.jfy.domain.Order"/>
            <package name="com.jfy.domain.Exhibition"/>
        </typeAliases>


</configuration>