<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--引入db.properteis文件-->
    <context:property-placeholder location="classpath:db.properties"/>
    <!--spring的包扫描要把controller排除掉，否则会与springmvc冲突-->
    <context:component-scan base-package="com.jfy.service.impl,com.jfy.filter"/>

    <!--配置Druid数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>
    <!--实例化 spring 事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--注册事务管理器-->
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--配置SqlSessionFactory的bean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--注入mybatis全局配置文件-->
        <property name="configLocation" value="classpath:mybatis_config.xml"/>
        <!--扫描mapper.xml文件-->
        <property name="mapperLocations" value="classpath:mappers/*.xml"/>
    </bean>


    <!--配置MapperScannerConfigurer,将dao接口配置成bean-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--注入sqlSessionFactory-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!--扫描dao接口所在的包-->
        <property name="basePackage" value="com.jfy.dao"/>
    </bean>


</beans>
